# Server Port (Se le asigna automáticamente en producción, pero puedes especificarlo aquí)
PORT=3000

# JWT Secret (¡CAMBIAR EN PRODUCCIÓN!)
JWT_SECRET=secret123

# Database (opcional, si quieres usar una BD remota en el futuro)
DB_PATH=./formulario.db
